[Unit]
Description=Web UI for OpenHD
After=NetworkManager.service

[Service]
User=root
Type=notify
Environment="ASPNETCORE_URLS=http://+:80;http://*:80;http://0.0.0.0:80"
WorkingDirectory=/usr/local/share/openhd/web-ui/
ExecStart=/usr/local/share/openhd/web-ui/OpenHdWebUi.Server
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target