<div class="system-container">
  <div class="lists">
    <mat-card class="list-card">
      <mat-card-title>System Commands</mat-card-title>
      <mat-list>
        <mat-list-item *ngFor="let command of commands">
          <button mat-raised-button color="primary" (click)="onCommandClick(command)">
            {{ command.displayName }}
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card>

    <mat-card class="list-card">
      <mat-card-title>System Files</mat-card-title>
      <mat-list>
        <mat-list-item *ngFor="let file of files">
          <a mat-raised-button color="primary" [href]="'api/system/get-file/' + file.id">
            {{ file.displayName }}
          </a>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>

  <mat-card class="terminal-card">
    <mat-card-title>Terminal</mat-card-title>
    <div #terminal class="terminal"></div>
  </mat-card>
</div>

