<h1 id="tableLabel">Files</h1>

<p *ngIf="!files?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="files.length">
  <thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let file of files">
    <td><img src="{{ file.previewPath }}" class="object-fit-contain border rounded" height="120" /></td>
    <td>{{ file.fileName }}</td>
    <td>
        <div class="btn-group">
            <a href="{{ file.downloadPath }}" class="btn btn-primary" download>Download</a>
            <a class="btn btn-danger" (click)="onDeleteClick(file.fileName)">Delete</a>
        </div>
    <td>
  </tr>
  </tbody>
</table>
