<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
    <div class="container-fluid d-flex align-items-center">

      <div class="navbar-brand d-flex align-items-center me-auto">
        <a [routerLink]="['/home']">
          <img src="assets/OpenHD-Logo.png" height="40" class="d-inline-block align-top logo-dark" alt="OpenHD logo">
        </a>
        <span class="ms-2">OpenHD WebUI</span>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/home']">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav flex-grow" *ngIf="isAir">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/files']">Videos</a>
          </li>
        </ul>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/settings']">Settings</a>
          </li>
        </ul>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/system']">Debug</a>
          </li>
        </ul>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/update']">Update</a>
          </li>
        </ul>

        <label class="form-check form-switch mb-0 ms-3">
          <input class="form-check-input" type="checkbox"
                 (change)="themeService.toggle()"
                 [checked]="themeService.isDark">
        </label>
      </div>
    </div>
  </nav>
</header>
