<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="row navbar-brand" >
            <div class="col">
              <div class="row">
                <a [routerLink]="['/']">
                  <img src="assets/logo.jpg" height="40" class="d-inline-block align-top" alt="">
                </a>
              </div>
            </div>
            <div class="col">OpenHD WebUI</div>
        </div>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav flex-grow" *ngIf="isAir">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/files']">Videos</a>
          </li>
        </ul>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/settings']">Settings</a>
          </li>
        </ul>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/system']">Debug</a>
          </li>
        </ul>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/update']">Update</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
